<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Visual Code Admin</title>
</head>
<body>

  <h1>Visual Code</h1>
  <h2>Admin Login</h2>
  <form action="/admin/api/login" method="post">
    ID: <input type="text" name="id"><br>
    PW: <input type="text" name="pw"><br>
    <input type="submit" value="Login" />
  </form>

</body>
</html>
