<div class="thisplay-designer-view" ng-controller="designerCtrl">
  <div class="thisplay-designer" ng-init="loadDrawApiList()">
    <div class="btn-group" uib-dropdown>
      <button id="btnAddStructure" type="button" class="btn btn-primary" uib-dropdown-toggle>
        Add Structure <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btnAddStructure">
        <li role="menuitem" ng-repeat="(type, api) in drawApiList">
          <div class="item" ng-click="addStructure(type)">
            <img class="picture" alt="{{type}}" ng-src="/images/{{type}}.png" />
            <span>{{api.lavel}}</span>
          </div>
        </li>
      </ul>
    </div>

    <hr />
    <div class="structure-list">
      <div class="item" ng-repeat="item in getStructures()">
        <img class="picture" alt="{{item.type}}" ng-src="/images/{{item.type}}.png" ng-class="{active: selectedStructure === item}" ng-click="selectStructure(item)" />
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ng-click="removeStructure(item)"></span>
        <lavel>{{item.id}}</lavel>
      </div>
    </div>
    <hr />

    <div ng-show="selectedStructure && selectedBreakpoint">
      <div class="btn-group" uib-dropdown>
        <button id="btnAddDraw" type="button" class="btn btn-default" uib-dropdown-toggle>
          Add Draw <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btnAddDraw">
          <li role="menuitem" ng-repeat="api in drawApiList[selectedStructure.id].apis">
            <a href="#" ng-click="openAddDrawApiModal(api)" popover-trigger="'mouseenter'" popover-placement="left" uib-popover="{{api.description}}">{{api.name}}</a>
          </li>
        </ul>
      </div>

      <div class="list-group drawapi-list">
        <div ng-repeat="draw in selectedBreakpoint.draws | filter: drawListFilter">
          <a href="#" ng-click="openModifyDrawApiModal(draw)" class="list-group-item">
            {{drawApiToString(draw)}}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeDrawApi(draw)"></span>
          </a>
        </div>
      </div>
    </div>
    
    <button type="button" class="btn btn-danger" style="position: absolute; bottom: 20px; right: 20px;" ng-click="removeBreakpoint()" ng-show="selectedBreakpoint">Remove</button>
  </div>
</div>