<div class="thisplay-edit-panel">
  <div class="thisplay-editor">
    <div class="header">
      <label>Source Code:</label>
      <span>Select a theme: </span>
      <div class="btn-group" uib-dropdown>
        <button id="btnSelectTheme" type="button" class="btn btn-default" uib-dropdown-toggle>
          {{theme}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btnSelectTheme">
          <li ng-repeat="a in themes" role="menuitem"><a ng-click="selectTheme(a)">{{a}}</a></li>
        </ul>
      </div>
    </div>
    <div class="body">
      <div class="thisplay-codemirror" ui-codemirror="{onLoad : cmLoadded}" ui-codemirror-opts="cmOptions" ng-model="workspace.data.code"></div>
    </div>      
  </div>

  <div style="width: 100%; position: relative; height: 50px; line-height: 50px;">
    <label>Input Data:</label>
  </div>
  <div class="thisplay-input-area">
    <textarea class="thisplay-textarea" ng-model="workspace.data.input" ng-keydown="onInputChanged()"></textarea>
  </div>

  <div style="width: 80%; margin: auto; margin-top: 25px; margin-bottom: 25px;">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="upload()">Upload</button>
  </div>
</div>