<!DOCTYPE html>
<html>
<head>
  <title>This-Play</title>
  <meta http-equiv="X-UA-Compatible" content="IE=11" />
  <meta charset="UTF-8" />

  <link rel="stylesheet" href="/assets/build/thisplay.min.css" >
  <script src="/assets/build/thisplay.min.js"></script>
</head>
  <% include thisplayApp.html %>
</html>