<!DOCTYPE html>
<html>
<head>
  <title>This-Play</title>
  <meta http-equiv="X-UA-Compatible" content="IE=11" />
  <meta charset="UTF-8" />

  <link rel="stylesheet" href="/assets/build/thisplay.min.css" >
  <script src="/assets/build/thisplay.min.js"></script>

</head>
<body ng-app="thisplayApp" ng-cloak>

  <div ng-controller="canvasManagerCtrl">
    <nav class="navbar navbar-inverse thisplay-navbar">
      <div class="section thisplay-navbar-header">
        <a class="navbar-brand" ng-click="canvasListOpen = !canvasListOpen">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a class="navbar-text title" ng-click="openModal()">
          {{getTitle() || "제목 없는 캔버스"}}
        </a>
      </div>
      <div class="section thisplay-navbar-container">
        <span class="navbar-btn thisplay-btn-save" ng-class="{enable: isChanged()}" ng-click="saveCanvas()">Save</span>
      </div>
    </nav>

    <pageslide ps-open="canvasListOpen" ps-side="left" ps-push="true" ps-size="290px" ps-click-outside="false" ps-key-listener="true">
      <div class="thisplay-canvas-list" id="slider-canvas-list">
        <div class="thisplay-canvas-list-header">
          <span>검색기능넣기</span>
        </div>
        <div class="thisplay-canvas-list-container">
          <div class="scrollable">
            <div style="padding: 20px;">
              <a class="btn icon-btn btn-default btn-lg btn-block" ng-click="newCanvas()">
                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
                새 캔버스
              </a>
            </div>

            <div class="section-bar">Current Canvas</div>
            <div class="thisplay-list">
              <div class="thisplay-list-container">
                <div class="thisplay-list-item">
                  <span class="thumb"></span>
                  <span class="title" style="padding-right: 60px;">{{getTitle() || "제목 없는 캔버스"}}</span>
                  <span class="date">no unsaved changes</span>
                  <span class="thisplay-btn-save" ng-class="{enable: isChanged()}" ng-click="saveCanvas()">Save</span>
                </div>
              </div>
            </div>

            <div class="section-bar" ng-show="getSavedCanvas().length">Saved Canvas</div>
            <div class="thisplay-list" ng-repeat="item in getSavedCanvas()">
              <div class="thisplay-list-container">
                <div class="thisplay-list-item" ng-click="setSavedCanvas(item)">
                  <span class="thumb"></span>
                  <span class="title">{{item.title || "제목 없는 캔버스"}}</span>
                  <span class="date">{{item.date | date: "y년 M월 d일"}}</span>
                  <span class="remove glyphicon glyphicon-remove" ng-click="removeSavedCanvas(item)"></span>
                </div>
              </div>
            </div>

            <div class="section-bar" ng-init="loadExamples()" ng-show="examples.length">Examples</div>
            <div class="thisplay-list" ng-repeat="item in examples">
              <div class="thisplay-list-container">
                <div class="thisplay-list-item" ng-click="setExample(item)">
                  <span class="thumb"></span>
                  <span class="title">{{item.title || "제목 없는 캔버스"}}</span>
                  <span class="date">예시</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </pageslide>
  </div>

  <div class="thisplay-container" ng-controller="editorCtrl">
    <div class="scrollable">
      <div class="thisplay-edit-panel">
        <div class="thisplay-editor">
          <div class="header">
            <label>Source Code:</label>
            <span>Select a theme: </span>
            <div class="btn-group" uib-dropdown>
              <button id="btn-append-to-single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                {{theme}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                <li ng-repeat="a in themes" role="menuitem"><a ng-click="selectTheme(a)">{{a}}</a></li>
              </ul>
            </div>
          </div>
          <div class="body">
            <div class="thisplay-codemirror" ui-codemirror="{onLoad : cmLoadded}" ui-codemirror-opts="cmOptions" ng-model="data.code"></div>
          </div>      
        </div>

        <div style="width: 100%; position: relative; height: 50px; line-height: 50px;">
          <label>Input Data:</label>
        </div>
        <div class="thisplay-input-area">
          <textarea class="thisplay-textarea" ng-model="data.input"></textarea>
        </div>

        <div style="width: 80%; margin: auto; margin-top: 25px; margin-bottom: 25px;">
          <button type="button" class="btn btn-primary btn-lg btn-block">Upload</button>
        </div>
      </div>
    </div>

    <pageslide ps-open="designerOpen" ps-size="400px" ps-zindex="100" ps-key-listener="true" ps-click-outside="false" ps-auto-close="true">
      <div class="thisplay-designer">
        {{testLineNum}}
      </div>
    </pageslide>
  </div>  


  <!-- Modal template -->
  <script type="text/ng-template" id="save-modal.html">
    <div class="thisplay-save-modal">
      <div class="modal-header">
        <h4 class="modal-title">Save This Canvas</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title" class="control-label">제목:</label>
          <input type="text" class="form-control" ng-model="title" placeholder="제목 없는 캔버스" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="save()">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      </div>
    </div>
  </script>

</body>
</html>