<nav class="navbar navbar-inverse vico-navbar">
  <div class="section vico-navbar-header">
    <a class="navbar-brand" ng-click="canvasListOpen = !canvasListOpen">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
    <a class="navbar-text title" ng-click="openSaveModal()">
      {{currentCanvas.title || "제목 없는 캔버스"}}
    </a>
  </div>
  <div class="section vico-navbar-container">
    <span class="navbar-btn vico-btn-save" ng-class="{enable: isChanged()}" ng-click="saveCanvas()">Save</span>
    <button class="navbar-btn vico-btn-logout" ng-if="userType === 'admin'" ng-click="logout()">Logout</button>
  </div>
</nav>