<script type="text/ng-template" id="drawapi-modal.html">
  <div class="vico-modal">
    <div class="modal-header">
      <h3 class="modal-title">{{api.name}}</h3>
      {{api.description}}
    </div>
    <div class="modal-body">
      <div class="form-group" ng-class="{'has-error': error && !param.optional && !param.value}" ng-repeat="param in api.params">
        <label for="title" class="control-label">{{param.name}}{{param.optional ? "(optional)" : ""}}:</label>
        <input type="text" class="form-control" ng-model="param.value" placeholder="{{param.description}}" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" ng-click="save()">{{modify ? "Modify" : "Add"}}</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
  </div>
</script>