<script type="text/ng-template" id="save-modal.html">
  <div class="thisplay-modal">
    <div class="modal-header">
      <h4 class="modal-title">Save This Canvas</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="title" class="control-label">제목:</label>
        <input type="text" class="form-control" ng-model="title" placeholder="제목 없는 캔버스" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" ng-click="save()">Save</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
  </div>
</script>