/* vico-editor css */

.vico-editor .header {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: right;
  line-height: 50px;
}

.vico-editor .body {
  width: 100%;
  height: 100%;
  margin-top: -50px;
  padding-top: 50px;
}

.vico-codemirror {
  height: 100%;
}

.vico-editor .CodeMirror {
  border: 1px solid #aaa;
  height: 100%;
}

.vico-editor .CodeMirror .breakpoints { 
  width: 1.0em; 
}

.vico-editor .CodeMirror-gutter-elt .breakpoint { 
  color: #933;
}

.vico-editor .CodeMirror-gutter-elt .breakpoint:hover { 
  cursor: pointer;
}

.vico-editor .CodeMirror-gutter-elt .breakpoint.active {
  color: rgba(241, 20, 241, 1);
}

